:root {
	--accent-1: #00868a;
	--accent-2: #4fbfa5;
	--white: #fff;
  --font-family: "Arial", sans-serif;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
h1 {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  color: var(--accent-1);
}
.container {
  max-width: 1344px;
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;
}
.cards {
  padding: 163px 0;
  min-height: 800px;
}
.cards_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 306px;
  width: 100%;
  height: 344px;
}
.top {
  padding: 40px 30px;
  height: 100%;
}
.top a {
  padding: 10px 15px;
  width: 156px;
  height: 40px;
  background-color: var(--accent-2);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  text-decoration: none;
  transition: 0.5s ease;
}
.top a:hover {
  background-color: var(--accent-1);
}
.bottom {
  height: 114px;
  padding: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: var(--accent-1);
}
.bottom h4 {
  /* width: 181px;
  height: 60px; */
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--white);
  /* margin-top: 25px;
  margin-left: 30px;
  margin-right: 15px; */
}
.bottom a {
  transition: 0.5s ease;
}
.bottom a:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 1344px){
  .cards_inner {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width: 768px){
  .cards_inner {
    grid-template-columns: repeat(1, 1fr);
    /* justify-items: center; */
  }
}
@media screen and (max-width: 540px){
  h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 400px){
  .container {
    padding: 0 10px;
  }
  .cards {
    padding: 60px 0;
  }
  h1 {
    font-size: 24px;
  }
  .bottom h4 {
    font-weight: 700;
    font-size: 18px;
  }
}